html,
body,
#app {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  html,
  body,
  #app {
    background: #000000;
    color: #ffffff;
  }
}
